:root{
    --bg-color:  #fff;
    --text-color:   #222;
    --border-color: #333;
}
body.light{
    --bg-color:  #fff;
    --text-color:   #222;
    --border-color: #333;
}
body.dark{
    --bg-color:  #222;
    --text-color:   #fff;
    --border-color: #ffe;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: auto;
    padding: 1em 0;
    display: table;
}
.list{
    margin: auto;
    padding: 1em 0;
    display: table;
}
.results{
    width: 85vw;
}
.list .card{
    width: 199px;
    border: 1px solid var(--border-color);
    opacity: 1;
    display: block;
    float: left;
    margin: 1vh;
    padding-bottom: 1vh;
}
div{
    margin: 0 1em;
}
h2:first-letter {
    text-transform: uppercase;
}
h3, h5{
    margin: 0;
}
h3:first-letter {
    text-transform: uppercase;
}
h5:before {
    content:"#";
}
.main .hidden{
    display: none;
}
.poke-details li{
    display: inline-table;
}
.poke-type li{
     padding: 7px;
}
.small_text{
    font-size: 1em;
}
.hidden{
    display: none;
}
